$negro : #3A3A3A;
$blanco : #fff;

.main {
	width: 100%;
	background-color: antiquewhite;
	margin-top: 3.4em;
	

}


.hero__section {
	width: 100%;
	height: 100%;
	position: relative;
		
}



.hero__container--texto {
	position: absolute;
	top: 0;
	color: $blanco;
	width: 100%;
	text-align: center;
	margin-top: 25%;;
	
}


.hero__title {
	font-size: 2em;
	color: $blanco;
	display: block;
}

.hero__texto {
	font-size: 1em;
	padding-top: 1em;
	display: block;
}

.hero__img {
	width: 100%;
	margin-bottom: -5px;
}

.hero__link {
	text-decoration: none;
	padding: 10px;
	background: green;
	color: $blanco;
	display: inline-block;
	margin-top: 2em;
}





.borde{
	border: 1px solid black;
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
	from {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: center center;
			  transform-origin: center center;
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	10% {
	  -webkit-transform: scale(0.91);
			  transform: scale(0.91);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	17% {
	  -webkit-transform: scale(0.98);
			  transform: scale(0.98);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	33% {
	  -webkit-transform: scale(0.87);
			  transform: scale(0.87);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	45% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }
  @keyframes heartbeat {
	from {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: center center;
			  transform-origin: center center;
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	10% {
	  -webkit-transform: scale(0.91);
			  transform: scale(0.91);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	17% {
	  -webkit-transform: scale(0.98);
			  transform: scale(0.98);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	33% {
	  -webkit-transform: scale(0.87);
			  transform: scale(0.87);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	45% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }
  
  .blink-1 {
	-webkit-animation: blink-1 3s infinite both;
	        animation: blink-1 3s infinite both;
}

@-webkit-keyframes blink-1 {
	0%,
	50%,
	100% {
	  opacity: 1;
	}
	25%,
	75% {
	  opacity: 0;
	}
  }
  @keyframes blink-1 {
	0%,
	50%,
	100% {
	  opacity: 1;
	}
	25%,
	75% {
	  opacity: 0;
	}
  }
  
  


  /*.rotate-in-center {
	-webkit-animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s both;
	        animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.0s both;
}

@-webkit-keyframes rotate-in-center {
	0% {
	  -webkit-transform: rotate(-360deg);
			  transform: rotate(-360deg);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotate(0);
			  transform: rotate(0);
	  opacity: 1;
	}
  }
  @keyframes rotate-in-center {
	0% {
	  -webkit-transform: rotate(-360deg);
			  transform: rotate(-360deg);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotate(0);
			  transform: rotate(0);
	  opacity: 1;
	}
  }*/
  
  
  
  
  
  
  


/* BUNGALOWS */

.bungalows {
	width: 100%;
	
}

.bungalows__title {
	font-size: 1em;
	padding: 10px;
	text-align: center;
}

.bungalows__container {
	width: 100%;
	display: inline-block;
}

.bungalows__articulo {
	width: 100%;
	display: inline-block;
	
	
}


@mixin sizes ($with, $height, $border, $padding) {
    width: $with;
    height: $height;
    border: $border;
    padding: $padding;

    
}

.bungalows__articulo--img {
    @include sizes(100%,200px, 3px solid black , .2em)
	
}

.swing-in-top-fwd  {
	-webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
	0% {
	  -webkit-transform: rotateX(-100deg);
			  transform: rotateX(-100deg);
	  -webkit-transform-origin: top;
			  transform-origin: top;
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotateX(0deg);
			  transform: rotateX(0deg);
	  -webkit-transform-origin: top;
			  transform-origin: top;
	  opacity: 1;
	}
  }
  @keyframes swing-in-top-fwd {
	0% {
	  -webkit-transform: rotateX(-100deg);
			  transform: rotateX(-100deg);
	  -webkit-transform-origin: top;
			  transform-origin: top;
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotateX(0deg);
			  transform: rotateX(0deg);
	  -webkit-transform-origin: top;
			  transform-origin: top;
	  opacity: 1;
	}
  }
  
  


.bungalows__articulo--title {
	text-align: center;
	padding: 10px 0 10px 0;
	
}

.bungalows__articulo--texto {
	padding: 10px;
	text-align: center;
	
}


.borde {
	border-bottom: 1px solid #000;
	display: inline-block;
	width: 100%;
	margin: 1em 0 1em 0;
}

.bungalows__warning {
	padding: 0 .5em .5em .5em;
}

/* Servicios */


.servicios__title {
	text-align: center;
	background: $negro;
	padding: .7em 0 .7em 0;
	color: $blanco;
}

.servicios__img--header{
	width: 100%;
	
}

.servicios__presentacion {
	background: url(../imagenes/molinoForclaz.jpg);
	background-attachment: fixed;
	padding: 1em 0 1em 0;
	margin-top: -4px;
	width: 100%;
}

.servicios__subtitle {
	text-align: center;
	color: $blanco;
	padding-bottom: 1em;
}

.servicios__texto {
	color: $blanco;
	line-height: 1.5em;
	padding: 0 1em 0 1em;
}


.servicios__list--ul {
	padding: 1em 0 1em 1em;
	width: 100%;
	
}

.servicios__list {
	list-style: none;
}

.servicios__item {
	line-height: 1.7em;
}

.fa-solid {
	color: green;
	padding-right: .5em;
}


.servicios__imagen {
	width: 100%;
	height: auto;
}

.tilt-in-fwd-tr {
	-webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes tilt-in-fwd-tr {
	0% {
	  -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
			  transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
			  transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
	  opacity: 1;
	}
  }
  @keyframes tilt-in-fwd-tr {
	0% {
	  -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
			  transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
			  transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
	  opacity: 1;
	}
  }
  




/* Atractivos */
.atractivos{
    color: cornsilk;
	width: 100%;
	display: inline-block;
}



.atractivos__header {
	background: $negro;             
	padding: 1em 0 1em 0;
	text-align: center;
}

.atractivos__titulo {
	padding-bottom: .5em;
}

.flicker-in-1 {
	-webkit-animation: flicker-in-1 2s linear both;
	        animation: flicker-in-1 2s linear both;
}

@-webkit-keyframes flicker-in-1 {
	0% {
	  opacity: 0;
	}
	10% {
	  opacity: 0;
	}
	10.1% {
	  opacity: 1;
	}
	10.2% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	20.1% {
	  opacity: 1;
	}
	20.6% {
	  opacity: 0;
	}
	30% {
	  opacity: 0;
	}
	30.1% {
	  opacity: 1;
	}
	30.5% {
	  opacity: 1;
	}
	30.6% {
	  opacity: 0;
	}
	45% {
	  opacity: 0;
	}
	45.1% {
	  opacity: 1;
	}
	50% {
	  opacity: 1;
	}
	55% {
	  opacity: 1;
	}
	55.1% {
	  opacity: 0;
	}
	57% {
	  opacity: 0;
	}
	57.1% {
	  opacity: 1;
	}
	60% {
	  opacity: 1;
	}
	60.1% {
	  opacity: 0;
	}
	65% {
	  opacity: 0;
	}
	65.1% {
	  opacity: 1;
	}
	75% {
	  opacity: 1;
	}
	75.1% {
	  opacity: 0;
	}
	77% {
	  opacity: 0;
	}
	77.1% {
	  opacity: 1;
	}
	85% {
	  opacity: 1;
	}
	85.1% {
	  opacity: 0;
	}
	86% {
	  opacity: 0;
	}
	86.1% {
	  opacity: 1;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes flicker-in-1 {
	0% {
	  opacity: 0;
	}
	10% {
	  opacity: 0;
	}
	10.1% {
	  opacity: 1;
	}
	10.2% {
	  opacity: 0;
	}
	20% {
	  opacity: 0;
	}
	20.1% {
	  opacity: 1;
	}
	20.6% {
	  opacity: 0;
	}
	30% {
	  opacity: 0;
	}
	30.1% {
	  opacity: 1;
	}
	30.5% {
	  opacity: 1;
	}
	30.6% {
	  opacity: 0;
	}
	45% {
	  opacity: 0;
	}
	45.1% {
	  opacity: 1;
	}
	50% {
	  opacity: 1;
	}
	55% {
	  opacity: 1;
	}
	55.1% {
	  opacity: 0;
	}
	57% {
	  opacity: 0;
	}
	57.1% {
	  opacity: 1;
	}
	60% {
	  opacity: 1;
	}
	60.1% {
	  opacity: 0;
	}
	65% {
	  opacity: 0;
	}
	65.1% {
	  opacity: 1;
	}
	75% {
	  opacity: 1;
	}
	75.1% {
	  opacity: 0;
	}
	77% {
	  opacity: 0;
	}
	77.1% {
	  opacity: 1;
	}
	85% {
	  opacity: 1;
	}
	85.1% {
	  opacity: 0;
	}
	86% {
	  opacity: 0;
	}
	86.1% {
	  opacity: 1;
	}
	100% {
	  opacity: 1;
	}
  }
  

.atractivos__contenedor {
	width: 100%;
}

.atractivos__fotos {
	width: 100%;
	position: relative;
	
}
 
.atractivos__subtitle {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.atractivos__img {
	width: 100%;
	height: 300px;
}

.kenburns-top {
	-webkit-animation: kenburns-top 5s ease-out both;
	        animation: kenburns-top 5s ease-out both;
}

@-webkit-keyframes kenburns-top {
	0% {
	  -webkit-transform: scale(1) translateY(0);
			  transform: scale(1) translateY(0);
	  -webkit-transform-origin: 50% 16%;
			  transform-origin: 50% 16%;
	}
	100% {
	  -webkit-transform: scale(1.25) translateY(-15px);
			  transform: scale(1.25) translateY(-15px);
	  -webkit-transform-origin: top;
			  transform-origin: top;
	}
  }
  @keyframes kenburns-top {
	0% {
	  -webkit-transform: scale(1) translateY(0);
			  transform: scale(1) translateY(0);
	  -webkit-transform-origin: 50% 16%;
			  transform-origin: 50% 16%;
	}
	100% {
	  -webkit-transform: scale(1.25) translateY(-15px);
			  transform: scale(1.25) translateY(-15px);
	  -webkit-transform-origin: top;
			  transform-origin: top;
	}
  }
  

.atractivos__mapa {
	width: 100%;
}

.atractivos__iframe {
	width: 100%;
	height: 250px;
}

.bounce-in-top {
	-webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}

@-webkit-keyframes bounce-in-top {
	0% {
	  -webkit-transform: translateY(-500px);
			  transform: translateY(-500px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	  opacity: 0;
	}
	38% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	  opacity: 1;
	}
	55% {
	  -webkit-transform: translateY(-65px);
			  transform: translateY(-65px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	72% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	81% {
	  -webkit-transform: translateY(-28px);
			  transform: translateY(-28px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	90% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	95% {
	  -webkit-transform: translateY(-8px);
			  transform: translateY(-8px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }
  @keyframes bounce-in-top {
	0% {
	  -webkit-transform: translateY(-500px);
			  transform: translateY(-500px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	  opacity: 0;
	}
	38% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	  opacity: 1;
	}
	55% {
	  -webkit-transform: translateY(-65px);
			  transform: translateY(-65px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	72% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	81% {
	  -webkit-transform: translateY(-28px);
			  transform: translateY(-28px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	90% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	95% {
	  -webkit-transform: translateY(-8px);
			  transform: translateY(-8px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }
  
  



/*  UBICACION */

.ubicacion_{
	text-align: center;
	
}
.ubicacion__title{

	background-color: $negro;
	height:3em;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	
	color: $blanco;
}


.colum__der h3{
	text-align: center;
	margin-bottom: 2em;
}
.coordenadas{
	text-align: center;
	margin-top: 5em;
}

.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 1.5s linear both;
	        animation: swing-in-top-fwd 1.5s linear both;
}

@-webkit-keyframes swing-in-top-fwd {
	0% {
	  -webkit-transform: rotateX(-100deg);
			  transform: rotateX(-100deg);
	  -webkit-transform-origin: top;
			  transform-origin: top;
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotateX(0deg);
			  transform: rotateX(0deg);
	  -webkit-transform-origin: top;
			  transform-origin: top;
	  opacity: 1;
	}
  }
  @keyframes swing-in-top-fwd {
	0% {
	  -webkit-transform: rotateX(-100deg);
			  transform: rotateX(-100deg);
	  -webkit-transform-origin: top;
			  transform-origin: top;
	  opacity: 0;
	}
	100% {
	  -webkit-transform: rotateX(0deg);
			  transform: rotateX(0deg);
	  -webkit-transform-origin: top;
			  transform-origin: top;
	  opacity: 1;
	}
  }
  
  
  


.ubicacion__iframe{

		width: 100%;
	}

	
.ubicacion__ubicacion{
	
	padding: 2em;
	text-align: center;
	background-image: url(../imagenes/IslaCaridad.jpg);
	background-position: bottom;
	background-attachment: fixed;
	font-weight: 800;
	color: $blanco;
	}
	
	


/* CONTACTO */

.bienvenidos{
    background-color: $negro;
    color: aliceblue;
    padding: 20px 20px;
	
    
  }

.formulario__contenedor {
	width: 100%;
	padding: .5em;
}

.fomulario__div {
	width: 100%;
}

.formulario__label  {
	width: 100%;
	display: inline-block;
	margin: .5em 0 .5em 0;
	
}

.formulario__casilleros, .formulario__mensaje {
	width: 100%;
	padding: .7em;
}

.formulario__mensaje {
	height: 200px;
}

.formulario__submit {
	background: green;
	padding: .5em 1em .5em 1em;
	width: 49%;
	border: none;
	margin: 1em 0 1em 0;
	color: $blanco;
}

.formulario__reset {
    @extend .formulario__submit;
    background: green;
	padding: .5em 1em .5em 1em;
	width: 49%;
	border: none;
	margin: 1em 0 1em 0;
	color: $blanco;

}

